@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .flex-wrap::-webkit-scrollbar {
    display: none;
  } */

.hide-scroller::-webkit-scrollbar {
    display: none;
  }

.thin-scroller::-webkit-scrollbar {
    width: 0; /* Hide scrollbar */
  }